<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>

</head>

<body>
  <header>
    <% include ./partials/header %>
  </header>
  <h1 class='center'>My Pokedex</h1>
  <hr/>
  <!-- <% include ./partials/load %> -->
  <div class='row'>
    <div class='col s12 m4'>
      <h3>Add Pokemon</h3>
      <form action='/pokedex' method='post'>
        <input type='text' name='name' placeholder='Name' />
        <input type='text' name='type' placeholder='Type' />
        <input type='text' name='hp' placeholder='HP' />
        <button class='btn btn-waves' type='submit'>Add</button>
      </form>
    </div>
    <table class='table col m8 s12'>
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>HP</th>
        <th>Edit</th>
        <th>x</th>
      </thead>
      <tbody>
        <% pokemon.forEach( function(pokemon) { %>
          <% var url = "/pokedex/" + pokemon.id + "?_method=DELETE" %>
            <% var editUrl = "/pokedex/" + pokemon.id + "/edit" %>
          <tr>
            <td>
              <%= pokemon.name %>
            </td>
            <td>
              <%= pokemon.type %>
            </td>
            <td>
              <%= pokemon.hp %>
            </td>
            <td>
              <a class="btn" href=<%= editUrl %>>Edit</a>
            </td>
            <td>
              <form method="POST" action=<%= url %>>
                <button class="btn red">Remove</button>
              </form>
            </td>
            <% }); %>
          </tr>
      </tbody>
    </table>
    <% include ./partials/all %>
  </div>
</body>

</html>